# Project ADA - CMU Movie Summary Corpus

### YAMAL Team

### To do

- check how genre are classified (Is the first one the most important one?)

### Useful libraries

In [7]:
import re
import ast
import random
import utils
import requests
import pandas as pd
import numpy as np
import pickle as pkl
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# 1) CMU DATASET ANALYSIS

### Loading data set

In [8]:
DATA_FOLDER = './base_data_set/'


# Loading characters
columns_char = ['Wikipedia_Movie_ID', 'Freebase_Movie_ID', 'Character_Name', 'Actor_DOB', 
                'Actor_gender', 'Actor_height', 'Actor_ethnicity', 'Actor_Name', 
                'Actor_age_at_movie_release', 'Freebase_character_map']

characters = pd.read_table(DATA_FOLDER+'character.metadata.tsv', names=columns_char, 
                           usecols=[0, 1, 3, 4, 5, 6, 7, 8, 9, 10])


# Loading movies
columns_mov = ['Wikipedia_Movie_ID','Freebase_Movie_ID','Movie_name','Movie_release_date',
          'Movie_box_office_revenue', 'Movie_runtime', 'Movie_languages', 'Movie_countries',
          'Movie_genres']

movies = pd.read_table(DATA_FOLDER+'movie.metadata.tsv', names=columns_mov, skipinitialspace=True)

### Pre-processing of the data

In this first part of the notebook, we will process the data to clean them and structure them in a more convinient way for our coming analysis.

First, to make our future studies easier, we will split the release date column into two new columns containing the release month and year separately.

In [9]:
def split_date(df, dates):
    """
    Define a function to split the date into year and month
    Input: df to modify and its column dates
    """
    movie_release_year = []
    movie_release_month = []
    
    for release_date in dates:
        if '-' in str(release_date):
            splitted_date = release_date.split('-')
            movie_release_year.append(splitted_date[0])
            movie_release_month.append(splitted_date[1])
        else :
            movie_release_year.append(str(release_date)[:4])
            movie_release_month.append(None)
    df['Movie_release_year'] = movie_release_year
    df['Movie_release_month'] = movie_release_month
    df.drop('Movie_release_date', axis = 1, inplace = True)

In [10]:
split_date(movies, movies['Movie_release_date'])

movies.head()

,Wikipedia_Movie_ID,Freebase_Movie_ID,Movie_name,Movie_box_office_revenue,Movie_runtime,Movie_languages,Movie_countries,Movie_genres,Movie_release_year,Movie_release_month
0,975900,/m/03vyhn,Ghosts of Mars,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",2001,08
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...",2000,02
2,28463795,/m/0crgdbh,Brun bitter,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",1988,None
3,9363483,/m/0285_cd,White Of The Eye,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",1987,None
4,261236,/m/01mrr1,A Woman in Flames,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}",1983,None

Let us now focus more specifically on the year of release.

In [11]:
#It seems that a movie has a release date of 1010, this is clearly an outlier.

movies.groupby('Movie_release_year').size()

Movie_release_year
1010       1
1888       1
1889       1
1890       2
1891       3
        ...
2013     164
2014      17
2015       4
2016       3
nan     6902
Length: 131, dtype: int64

Since there is only one outlier, we could check the true value of the release date of the film (it was released in 2010) and simply replace it, instead of dropping the movie.

In [12]:
movies.Movie_release_year = movies.Movie_release_year.replace('1010', '2010')

Regarding other features, since we do not aim to use graph representation, we have to drop the IDs in front of the languages, the movie genre and movie countries.

In [13]:
def split_action_advent(genres):
    '''
    Split the movie genre 'Action/Adventure' (if present)
    into the two distinct genres 'Action' & 'Adventure'
    :param genres: list of genres of a movie
    :return: eventually modified list of movie genre
    '''
    if 'Action/Adventure' in genres:
        idx = genres.index('Action/Adventure')
        genres[idx: idx+1] = ('Action', 'Adventure')
    return genres

In [14]:
# Drop IDs before movie language, genre and country and split feature values into a list

movies['Movie_genres'] = movies['Movie_genres'].apply(lambda x: re.split(': |,', 
                                                x.replace('"', '').replace('}', ''))[1::2])

movies['Movie_countries'] = movies['Movie_countries'].apply(lambda x: re.split(': |,', 
                                                x.replace('"', '').replace('}', ''))[1::2])

movies['Movie_languages'] = movies['Movie_languages'].apply(lambda x: re.split(': |,', 
                                                x.replace('"', '').replace('}', '').replace(' Language', ''))[1::2])

In [15]:
# Split genre Action/Adventure in two different genres

movies['Movie_genres'] = movies['Movie_genres'].apply(split_action_advent)

# Drop unrelevant genre
movies['Movie_genres'] = movies[movies['Movie_genres']!='Film \u00e0']['Movie_genres']

In [ ]:
movies.head()

In [ ]:
# Keep only the 3 first countries

movies['Movie_countries'] = movies['Movie_countries'].apply(lambda x: x[:3])

# Create new column for the 3 countries

countries = [[], [], []]

for country in movies['Movie_countries']:
    for i in range(3):
        if i < len(country):
            countries[i].append(str(country[i]))
        else:
            countries[i].append(np.nan)

movies['Movie_country_1'] = countries[0]
movies['Movie_country_2'] = countries[1]
movies['Movie_country_3'] = countries[2]

#movies = movies.drop(columns='Movie_countries')

In [ ]:
# Keep only the 3 first genre

movies['Movie_genres'] = movies['Movie_genres'].apply(lambda x: x[:3])

# Create new column for the 3 genre

genres = [[], [], []]

for genre in movies['Movie_genres']:
    for i in range(3):
        if i < len(genre):
            genres[i].append(str(genre[i]))
        else:
            genres[i].append(np.nan)

movies['Movie_genre_1'] = genres[0]
movies['Movie_genre_2'] = genres[1]
movies['Movie_genre_3'] = genres[2]

movies = movies.drop(columns='Movie_genres')

Finally, empty lists in the columns `Movie_languages` and `Movie_countries` have to be replaced by nan values.

In [ ]:
# Replace missing values in list features by np.nan

movies['Movie_languages'] = movies['Movie_languages'].apply(lambda x: np.nan if x == [] else x)

### Visualize data set

#### 1) Movies

Let us first focus on movies dataset. We wish to visualize the distribution of the most common movie contries (i.e. countries of production), the distribution of the common genres and finally we will plot a bar chart of the missing values.

In [ ]:
countries = movies[['Movie_country_1', 'Movie_country_2', 'Movie_country_3']].apply(pd.Series.value_counts).sum(axis=1)

In [ ]:
top20_countries = countries.sort_values(ascending = False)[:20]

In [ ]:
plt.figure(figsize=(20,6))
top20_countries.plot.bar()
plt.title("Distribution of the 20 most common production countries")
plt.xlabel('Movie countries')
plt.ylabel('Number of movies')

In [ ]:
genres = movies[['Movie_genre_1', 'Movie_genre_2', 'Movie_genre_3']].apply(pd.Series.value_counts).sum(axis=1)

In [ ]:
top20_genres = genres.sort_values(ascending = False)[:20]

In [ ]:
plt.figure(figsize=(20,6))
top20_genres.plot.bar()
plt.title("Distribution of the 20 most common genres")
plt.xlabel('Movie genres')
plt.ylabel('Number of movies')

In [ ]:
top_20_movies = movies[movies['Movie_genre_1'].isin(top20_genres.index)]

# Group the data by month and genre and calculate the count of movies in each category
genre_month_counts = top_20_movies.groupby(['Movie_release_month', 'Movie_genre_1']).size().unstack(fill_value=0)

# Create a heatmap to visualize the data
plt.figure(figsize=(12, 8))
sns.heatmap(genre_month_counts, cmap='YlGnBu', annot=True, fmt='d', cbar=True, linewidths=0.5)
plt.title('Movie Genre Evolution by Month (Top 20 Genres)')
plt.xlabel('Genre')
plt.ylabel('Month')
plt.show()

In [ ]:
# Function to plot % of NaN values

### Modify comments here
def plot_nan(df, title):
    # Calculate the percentage of NaN values in each column
    nan_values = df.isnull().mean() * 100
    # Create a bar plot
    nan_values.plot(kind='bar', figsize=(12,6))
    plt.title(title)
    plt.ylabel('Percentage missing values')
    plt.xlabel('Features')
    plt.show()

In [ ]:
plot_nan(movies, 'Percentage of Missing Values per feature')

As we can see, there are a lot of missing values (about 89%) in the `Movie_box_office_revenue` column. This is an major issue to perform different analysis of the success of a film. This serves as motivation to work with other datasets for our future analysis to complete this one.

Other high values of missing data such as `Movie_country_2` and `Movie_country_3` are not alarming since most of the movies already have information in `Movie_country_1` and may solely have one production country. This is the same for `Movie_genre_`.

#### 2) Characters

In [ ]:
characters.head()

In [ ]:
characters[characters['Freebase_character_map']=='/m/02nwzzv'][:]

In [ ]:
plot_nan(characters, 'Percentage of Missing Values per feature')

In [ ]:
gender_counts = characters.groupby('Actor_gender').size()

In [ ]:
# Plotting a pie chart
fig, ax = plt.subplots()
ax.pie(gender_counts, labels=gender_counts.index, autopct='%1.1f%%', startangle=90, colors=['pink', 'blue'])
ax.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.

# Set the title
plt.title('Gender Repartition of Characters')

# Show the plot
plt.show()

In [ ]:
# It seems like there are some actors with a negatif age. Let us remove them from our data set
characters[characters['Actor_age_at_movie_release'] < 0]

In [ ]:
characters = characters[characters['Actor_age_at_movie_release'] >= 0]
characters['Actor_age_at_movie_release'].hist(bins = 100)
plt.xlabel('Actor age at movie release')
plt.ylabel('Number of actors')
plt.title('Actor age at movie release histogram');

In [ ]:
# Again, it seems that there are some characaters with a height larger than 3 meters...
characters[characters['Actor_height'] > 3].shape

In [ ]:
characters = characters[characters['Actor_height'] < 3]

In [ ]:
characters['Actor_height'].hist(bins = 50)

#### 3) Plot

In [ ]:
columns_plot = ['Film ID', 'Plot summary']

plot = pd.read_table(DATA_FOLDER+'plot_summaries.txt', names=columns_plot)
plot.head()

In [ ]:
movies_with_plot = movies['Wikipedia_Movie_ID'].isin(plot['Film ID']).sum()/len(movies)

print(f'Percentage of films with plots: {movies_with_plot:.2%}')

### Augmenting CMU dataset with IMDb dataset

CMU dataset has a lot of missing values for the `Movie_box_office_revenue` and does not contain any rating for the different movie. Therefore we have chosen to complete CMU dataset with the one of IMDb, which is a a trusted source.

It is possible to join these datasets on the column called "tconst" but to join IMDb dataset with the CMU dataset Wikidata query must be used.

In [ ]:
#def query_wikidata():
#    url = 'https://query.wikidata.org/sparql'
#    query = """
#    SELECT ?item ?imdb ?freebase WHERE {
#      ?item wdt:P345 ?imdb.
#      ?item wdt:P646 ?freebase.
#    }
#    """
#    r = requests.get(url, params = {'format': 'json', 'query': query})
#    data = r.json()
#    return data

In [ ]:
#def json_to_df(data):
#    imdb_ids = []
#    freebase_ids = []
#    for item in data['results']['bindings']:
#        imdb_ids.append(item['imdb']['value'])
#        freebase_ids.append(item['freebase']['value'])
#    df = pd.DataFrame({'imdb_id': imdb_ids, 'freebase_id': freebase_ids})
#    return df

In [ ]:
# Load the two files from IMDb

IMDb_path = './external_data_sets/IMDb/'
basics_df = pd.read_csv(IMDb_path + 'basics.tsv', delimiter='\t', low_memory=False)
ratings_df = pd.read_csv(IMDb_path + 'ratings.tsv', delimiter='\t')

In [ ]:
# Inspect the first few rows of the datasets

print("Basics DataFrame:")
print(basics_df.head())
print("\nRatings DataFrame:")
print(ratings_df.head())

In [ ]:
# Get the column names

print("\nBasics DataFrame columns:")
print(basics_df.columns)
print("\nRatings DataFrame columns:")
print(ratings_df.columns)

In [ ]:
# Get the number of NaN values in each column

print("\nNumber of NaN values in Basics DataFrame:")
print(basics_df.isnull().sum())
print("\nNumber of NaN values in Ratings DataFrame:")
print(ratings_df.isnull().sum())

In [ ]:
# Merge the two IMDb dataframes into 1 using the title

IMDb_df = pd.merge(basics_df,ratings_df, on = 'tconst')

In [ ]:
# Plot NaN values

plot_nan(basics_df, 'NaN values in Basics DataFrame')
plot_nan(ratings_df, 'NaN values in Ratings DataFrame')
plot_nan(IMDb_df, 'NaN values in Merged DataFrame')

In [ ]:
IMDb_df.sample(5)

In [ ]:
IMDb_df.columns, movies.columns

In [ ]:
data = query_wikidata()

In [ ]:
wikidata_df = json_to_df(data)

In [ ]:
# The merge below is to keep ONLY the films that are in the cmu_df and in IMDb_df

# Merge cmu_df with wikidata_df
merged_df = movies.merge(wikidata_df, how='inner', left_on='Freebase_Movie_ID', right_on='freebase_id')

# Merge the result with IMDb_df
merged_df = merged_df.merge(IMDb_df, how='inner', left_on='imdb_id', right_on='tconst')

In [ ]:
merged_df.size, IMDb_df.size, movies.size

In [ ]:
merged_df.sample(5)

In [ ]:
plot_nan(merged_df, 'Missing values in the augmentaed data frame')

In [ ]:
print(len(merged_df), len(movies))

### First stage analysis of impact of the production country

In [ ]:
df_expanded = merged_df.explode('Movie_countries')
df_top20_genre_country = df_expanded[(df_expanded['Movie_genre_1'].isin(top20_genres.index))&
                        (df_expanded[df_expanded['Movie_countries'].isin(top20_countries.index)])]

In [ ]:
df_top20_genre_country = merged_df[(merged_df['Movie_genre_1'].isin(top20_genres.index))&
                        (merged_df[merged_df['Movie_countries'].apply(lambda x: any([k in x for k in top20_genres.index]))])]

df_top20_genre_country.head()

In [ ]:
# Group the data by genre and genre and calculate the count of movies in each category
genre_country_counts = df_top20_genre_country.groupby(['Movie_genre_1', 'Movie_country_1']).size().unstack(fill_value=0)

# Create a heatmap to visualize the data
plt.figure(figsize=(12, 8))
sns.heatmap(genre_country_counts, cmap='YlGnBu', annot=True, fmt='d', cbar=True, linewidths=0.5)
plt.title('Movie Genre accross different production country (Top 20 Genres and Countries)')
plt.xlabel('Country')
plt.ylabel('Genre')
plt.show()

In [ ]:
df_top20_countries = merged_df[merged_df['Movie_country_1'].isin(top20_countries.index)]

In [ ]:
country = merged_df.groupby('Movie_country_1')

fig, ax = plt.subplots(4,5,figsize= (8,6), sharey = True, sharex = True)

for i, name in enumerate(top20_countries.index):
    sbplt = ax[i%4, i//4]
    sbplt.hist(country.get_group(name).averageRating, range = [0,10], density=True, bins = 40)
    sbplt.set_title(name)

    
fig.tight_layout()

fig.text(0.4,0, "Ratings")
fig.text(0,0.5, "Numbers", rotation = 90)

In [ ]:
ax = sns.boxplot(x="Movie_country_1", y="averageRating", data=df_top20_countries)

plt.setp(ax.get_xticklabels(), rotation=90);

In [ ]:
df_american_movies = merged_df[merged_df['Movie_country_1']=='United States of America']
df_top20_genre_american = df_american_movies[df_american_movies['Movie_genre_1'].isin(top20_genres.index)]

df_indian_movies = merged_df[merged_df['Movie_country_1']=='India']
df_top20_genre_indian = df_indian_movies[df_indian_movies['Movie_genre_1'].isin(top20_genres.index)]

In [ ]:
plt.figure(figsize=(10,4))
plt.subplot(1, 2, 1)

plt.title("America")
ax1 = sns.boxplot(x="Movie_genre_1", y="averageRating", data=df_top20_genre_american.sort_values(by='Movie_genre_1'))
plt.setp(ax1.get_xticklabels(), rotation=90);

plt.subplot(1, 2, 2)
ax2 = sns.boxplot(x="Movie_genre_1", y="averageRating", data=df_top20_genre_indian.sort_values(by='Movie_genre_1'))
plt.title("India")

plt.setp(ax2.get_xticklabels(), rotation=90);

In [ ]:
movies_by_year_top20_country = df_top20_countries.groupby(['Movie_release_year'])
yearly_avg_rating_country = df_top20_countries.groupby(['Movie_release_year', 'Movie_country_1'])['averageRating'].mean()

type(yearly_avg_rating_country)

In [ ]:
plt.figure(figsize=(20,6))
ax = sns.lineplot(x='Movie_release_year', y=yearly_avg_rating_country.values[200:], data=yearly_avg_rating_country[200:], hue='Movie_country_1')

plt.setp(ax.get_xticklabels(), rotation=90);